# XiaomiParts
allow system_app proc_nvt_feature:file rw_file_perms;
set_prop(system_app, persist_lcd_prop)

# Kcal
allow system_app sysfs_kcal:dir search;
allow system_app sysfs_kcal:file rw_file_perms;

# Allow xiaomi_settings to read and write to sysfs_vibrator
allow system_app sysfs_vibrator:dir search;
allow system_app sysfs_vibrator:file rw_file_perms;
